@{
    ViewData["Title"] = "Strona domowa";
}

<div class="text-center">
    <h1 class="display-4">Dzień dobry</h1>
    <p>Stworzona aplikacja to prosty kalkulator, znajdujący się w zakładce Kalkulator.</p>
    <p></p>
    <p>Kod źródłowy znajduje się w repozytorium na <a href="https://github.com/wojciklukasz/.Net_Projekt">github</a>.</p>
</div>
