@{
    ViewData["Title"] = "Strona domowa";
}

<div class="text-center">
    <h1 class="display-4">Dzien dobry</h1>
    <p>Stworzona aplikacja to prosty kalkulator, znajdujący się w zakładce Kalkulator.</p>
    <p></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
